*{
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* PAGE ONE*/
section{
    width: 100%;
    display: flex;
    margin: 10px 0;
    margin: 0 0;
    background-color: beige;
    
    
}
h2, h3 ,h1,p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}
.left, .right{
    width: 50%;

}
.right img{
    width: 100%;
    height: 500px;
}
.right video{
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}
.snack-logo{
    width: 100px;
    height: 100px;
    margin: 20px 0;
}
.left{
    text-align: center;
    padding: 100px;
    padding-top: 10px;
    background: chocolate;
    height: 1005px;
}
input{
width: 50%;
padding: 10px;
background: beige;
border: 2px solid;
border-radius: 20px;
display: block;
margin: 50px auto;
text-align: center;
font-size: larger;

}
.sign button{
    width: auto;
    float: left;
    display: flex;
    
    align-items: left;
    margin: 10px 10px;
    border: 2px solid;
    padding: 8px;
    border-radius: 30px;
}
    
    
nav{
    padding: 20px;
    background-color: yellow;
}
nav a{
    padding: 50px;
    text-decoration: none;
    font-size: large;
    margin: 10px 0;
}
.new{
    text-align: center;
    font-size: 20px;
    color:black;
    padding: 25px;
    background: grey;
    margin:0 auto ;
    
    
}
.button{
    width: 30%;
    display: block;
    text-align:center ;
    align-items: center;
    margin:10px auto;
    border: 10px solid mintcream;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #333;
    padding: 10px;
    color: white;
    

}
.button:hover{
    background-color: blue;
}

/*PAGE 2*/
.banner{
    background-image: url(cravings/istockphoto.jpg);
    background-size: cover;
	background-position: center;
	min-height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
    color: black;
}
.banner p{
    color: black;
    font-size: larger;
    background-color: lightsalmon;
}

.snack-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-height: fit-content;
    width: 100%;

}
.snack-card{
    flex-grow: 1;
    flex-basis: 25%;
    background-color: lightsalmon;
    border: 1px solid;
    padding: 20px 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 30px;
    

}
.snack-id{
    color: none;
    font-size: 20px;
    margin-bottom: 5px;
}
.snack-name{
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}
.spot-location{
    color: none;
    font-size: 0.9em;
    margin-bottom: 15px;
}
.contact-button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 25px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    text-decoration: none;

}
.contact-button:hover{
background-color: darkred;

}
.special img{
width: 100%;
height: 250px;
object-fit: cover;
}

/*page 3*/
.pizza p, h1{
    padding: 10px;
    margin: 0px 10px;
}
.Menu{
    background: chocolate;
}
.logo{
    width: 500px;
    height: 300px;
    margin-top: 40px;

}

/*PAGE 4*/
#spot{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
.feed{
    text-align: center;
    padding: 10px;
    margin: 50px 20px;
    background-image: url(cravings/meals.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feed h1, h2, h4{
    margin: 20px 20px;
    color: white;
    background-color: lightsalmon;
}
.text{
    background: white;
}
    

.blue{
    background: lightsalmon;
}


